.ui.cards>.card {
  background: url(widget-bg.svg);
  padding: 20px;
  width: 350px;
}
.address {
  color:  #4D7198;
}
.ui.cards>.card>.content>.header {
  color: #ffffff;
}
.ui.cards>.card .meta {
  color: #ffffff;
}
.ui.card>.content>.description, .ui.cards>.card>.content>.description {
  color: #ffffff;
  font-size: large;
}
.tx-row {
    border-radius: 5px;
    border-width: 1px;
    border-color: #575656;
}